<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingLineNumber</key>
					<string>91</string>
					<key>StartingLineNumber</key>
					<string>91</string>
					<key>Timestamp</key>
					<string>711151508.651451</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>SouthPark/ViewModels/Search/SPSearchViewViewModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                return SPFamiliesCollectionViewCellViewModel(characterDataUrl: URL(string: $0))
</string>
				<key>leading</key>
				<string>            guard let data = familiesResults.data.first else { return }
            resultsVM = .families(data.characters.compactMap({
</string>
				<key>trailing</key>
				<string>            }))
            nextURL = familiesResults.links.next
        }
</string>
			</dict>
			<key>title</key>
			<string>Use character id?</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
